@import "tailwindcss";

* {
  font-family: var(--font-itc-avg), sans-serif;
}

.card {
  position: relative;
  height: 200px;
  width: 300px;
  background-color: rgba(red, green, blue, alpha);
}

.unique-path {
  /* clip-path: path("M 50,50 L 50,400 Z"); */
}
